<?xml version="1.0" ?>
<launch>

    <rosparam file = "$(find openloop_control)/config/params.yaml" command = "load" />

    <node name="Controller" pkg="openloop_control" type="controller.py" output="screen" launch-prefix="gnome-terminal --command" />
    <node name="PathGenerator" pkg="openloop_control" type="path_generator.py" output="screen" launch-prefix="gnome-terminal --command" />

</launch>
