<?xml version="1.0" ?>
<launch>
    <node name="Camera" pkg="final_puzzlebot" type="camera.py"/>
<!--<node name="Controller" pkg="final_puzzlebot" type="controller.py"/>-->
<!--<node name="Line_Following" pkg="final_puzzlebot" type="lineFollowing.py"/>-->
    <node name="Classificator" pkg="final_puzzlebot" type="imageClassificator.py"/>

    <node name="rqt_image_view" pkg="rqt_image_view" type="rqt_image_view" output="screen" args=""/>
<!-- output="screen" launch-prefix="gnome-terminal -command" -->
</launch>
